n8n/Vincular_telegram_Sistema.json
{
  "name": "Vincular_telegram_Sistema",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -608,
        48
      ],
      "id": "afa8e8ee-ed40-4bcf-863d-723fc76837ca",
      "name": "Telegram Trigger",
      "webhookId": "7050b50c-4bce-4570-9500-7db75743cac7",
      "credentials": {
        "telegramApi": {
          "id": "CkSnIGfqKWf8BaxD",
          "name": "Bot_registro"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "253514bd-b55c-4f3d-b868-b4dd05d2c421",
              "leftValue": "={{ $json.id_usuario }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        48
      ],
      "id": "2189682e-5f4a-4819-a6a0-bef0e1118b29",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f93ee25d-2ebb-4a6d-93d6-de327ef11f9a",
              "leftValue": "={{ $json.id_usuario ",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        240
      ],
      "id": "85a6fd6c-7e98-4f05-bb13-c09aad01ad84",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  s.id_telegram,\n  u.id_usuario,\n  u.nombre_usuario,\n  u.email,\n  u.rol\nFROM (\n  SELECT $1::bigint AS id_telegram\n) AS s\nLEFT JOIN usuarios u\n  ON u.id_telegram = s.id_telegram;\n",
        "options": {
          "queryReplacement": "={{ $json.message.from.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -384,
        48
      ],
      "id": "10dfd00c-ccd5-4094-a41a-aaeba0021089",
      "name": "Consulta id chat",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Si6gYG1lPH9J8BOa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.id_telegram }}",
        "text": "\"El usuario esta vinculado\"",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        96,
        -224
      ],
      "id": "f839e0b7-1285-4d5c-902f-a0c40a26ceb9",
      "name": "Mensaje cuando el usuario existe",
      "webhookId": "80cdb665-1352-47a1-bd4e-c7fca1723ee6",
      "credentials": {
        "telegramApi": {
          "id": "CkSnIGfqKWf8BaxD",
          "name": "Bot_registro"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    COALESCE(CAST(u.id_usuario AS TEXT), '') AS id_usuario,\n    COALESCE(CAST(u.nombre_usuario AS TEXT), '') AS nombre_usuario,\n    COALESCE(CAST(u.email AS TEXT), '') AS email,\n    COALESCE(CAST(u.rol AS TEXT), '') AS rol\nFROM usuarios u\nWHERE u.email = $1\nLIMIT 1;\n\n",
        "options": {
          "queryReplacement": "={{ $json.data.text }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        384,
        240
      ],
      "id": "d1f8c21b-864f-462b-b881-e2973b3bcdec",
      "name": "consulta existencia email",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Si6gYG1lPH9J8BOa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.id_telegram }}",
        "message": "⚠️ *Usuario no registrado*\n\nPor favor, ingresa el *email* que usas en StockFox para completar tu registro con el bot.\n",
        "responseType": "freeText",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        128,
        240
      ],
      "id": "a9c91cbf-9cd5-4a56-bc6f-7f70343f9ffe",
      "name": "Mensaje pedir email",
      "webhookId": "3ba817fb-098e-462d-a958-7759215c4def",
      "credentials": {
        "telegramApi": {
          "id": "CkSnIGfqKWf8BaxD",
          "name": "Bot_registro"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "❌ El correo ingresado no está registrado en StockFox.  Por favor, ingresa un email válido o contacta con el administrador",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        336
      ],
      "id": "a958a21c-a074-40d8-9fb0-5493f8e22a44",
      "name": "si, correo no existe",
      "webhookId": "ff0627c6-4e77-4f5d-b101-bfcfca436498",
      "credentials": {
        "telegramApi": {
          "id": "CkSnIGfqKWf8BaxD",
          "name": "Bot_registro"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "usuarios",
          "mode": "list",
          "cachedResultName": "usuarios"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_telegram": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "id_usuario": "={{ $json.id_usuario }}",
            "nombre_usuario": "={{ $json.nombre_usuario }}",
            "email": "={{ $json.email }}",
            "rol": "={{ $json.rol }}",
            "telefono": "={{ $json.telefono }}",
            "fecha_registro": "={{ $json.fecha_registro }}",
            "password": "={{ $json.password }}"
          },
          "matchingColumns": [
            "id_usuario"
          ],
          "schema": [
            {
              "id": "id_usuario",
              "displayName": "id_usuario",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre_usuario",
              "displayName": "nombre_usuario",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_telegram",
              "displayName": "id_telegram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_registro",
              "displayName": "fecha_registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        816,
        -96
      ],
      "id": "ed832ce3-09bc-4498-8027-29f79e5c915d",
      "name": "actualiza con chat_id",
      "credentials": {
        "postgres": {
          "id": "Si6gYG1lPH9J8BOa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.id_telegram }}",
        "text": "✅ Registro completado correctamente\n\nTu cuenta ha sido vinculada con el bot de StockFox.\nAhora podrás enviar facturas y movimientos directamente desde Telegram.\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        -96
      ],
      "id": "f3bf48c5-25a9-4582-bcaf-fb88ef9f93b2",
      "name": "Confirmación",
      "webhookId": "1ceb6d3b-3c32-40aa-afa5-25ccf431e236",
      "credentials": {
        "telegramApi": {
          "id": "CkSnIGfqKWf8BaxD",
          "name": "Bot_registro"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Consulta id chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Mensaje cuando el usuario existe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje pedir email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "actualiza con chat_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "si, correo no existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta id chat": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consulta existencia email": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje pedir email": {
      "main": [
        [
          {
            "node": "consulta existencia email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "actualiza con chat_id": {
      "main": [
        [
          {
            "node": "Confirmación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmación": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6e22f1e1-af4e-4df3-a9ed-ccdf14d0b66c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "963d8dc57fb0b9e23227a7311102eaf5e566cbcfcfceb1574fe127ccc819c647"
  },
  "id": "OgbPvDChIDPvH0AR",
  "tags": []
}